:root { 
--main-background-color:  #FFFFFF;
--sec-background-color:#F5F4FA; 
--dark-background-color:#2F303A;  
--accent-color: #2196F3;
--main-color: #212121;
--secondary-color: #757575; 
}

body { background-color: var(--main-background-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
    font-family: Roboto, sans-serif;}
a { text-decoration:none;}
li {list-style:none; 
font-family: Roboto;}

.section { padding: 94px;}


/*header*/
header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--main-background-color);
}
.container { 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
align-items: center;}

.logostart{  color:var(--main-color) ;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer 
     }
.logoweb { color: #2196F3;} 
.list-footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.list-header { display: flex; margin-left: 93px; font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
padding-left: 0;}
.item { margin-right: 50px; display: block;
    ;}
.item:last-child { margin-right: 0px;}


.head-link,
.head-link-studio { padding: 32px 0;
    list-style: none;
    text-decoration: none;}
    
.head-link {color: var(--main-color)  ;}
.head-link:focus,
.head-link:hover { color: var(--accent-color);} 
.head-link-studio {color: var(--accent-color); padding-left: 0;}
.head-link-portf {color: var(--accent-color) ;}
    
.auth-nav { display: flex; justify-content: end; margin-left: auto; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
padding-left: 0;
margin-left: 331px;}
.item-link:last-child{ margin-left: 50px;}
.contact-link { color:var(--secondary-color);}
.contact-link:focus,
.contact-link:hover { color: var(--accent-color);}

/*hero*/

.hero {padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--dark-background-color); padding-top: 200px;}
    .hero > div {
        display: block;
    }
    .hero-title { width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
text-align: center;}
.slogan { 
    color: var(--main-background-color);
    margin: 0 0 30px 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    background-color: aqua;
}

.button-studio
    { display: inline-block;
        min-width: 200px;
        border-radius: 4px;
        padding: 10px 32px;
        font-weight: 700; 
        font-size: 16px;
        line-height: 1.9;
        text-decoration: none;
        text-align: center;
        background-color: var(--accent-color);
        color: var(--main-background-color);
        cursor: pointer}    

.button-top:focus,
.button-top:hover { color: var(--main-background-color); background-color: var(--accent-color);} 
.button-top { display: flex; justify-content: center; border-radius: 4px;
    margin-right: 8px;
    height: 38px;
    background-color:var(--sec-background-color);
    color:var(--main-color);
    cursor: pointer
    
 }
.filters {display: flex;
justify-content: center;    margin-right: 40px;}
.filters-text { margin-right: 20px; margin-left: 20px; margin-top: 6px; margin-bottom: 6px;}

/*heroportf*/
.work-container {
    width: 1230px;
   
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   }

.img-portf { display: flex;
    flex-wrap: wrap; 
}   

.img-elements { 
    width: 345px;
    margin-right: 30px;
    margin-bottom: 30px;}


 .img-elements:nth-child(3) {margin-right: 0;}
 .img-elements:nth-last-child(-n+3) {margin-bottom: 0;}




/*Features*/

.section-features { background-color: var(--main-background-color); 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;}
.features-list { 
    height: 101px;
    display: flex; 

}
.title-list { color: var(--main-color);
    font-weight: bold;
font-size: 14px;
line-height: 16px;}
.text-title  { color: var(--secondary-color);
margin-top: 10px;
margin-right:30px;
width: 270px;
height: 75px;
font-weight: normal;
font-size: 14px;
line-height: 24px;}

/*What are we doing*/

.section-benefits {background-color: var(--main-background-color); 
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
font-family: Roboto;
margin-bottom: 94px;
background-color: rgb(255, 0, 85);
text-align: center;}
.benefits-slogan { font-weight: bold;
    margin-top: 94px;
    width: 376px;
    height: 42px;
    font-size: 36px;
    line-height: 42px;
margin-left: 0px;
margin-right: 0px;
    text-align: center;
background-color: aqua;}   
    
.benefits-photo {display: flex;
    margin-top: 50px;
    width: 370px;
    height: 294px;}    
.coding-photo { width: 370px; margin-right: 30px; margin-bottom: 94px;}

/*Our team section*/

.team-section {background-color: var(--sec-background-color);
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.our-team { margin-bottom: 50px; margin-top: 0;
     padding-top: 94px;; text-align: center  }
.team-list { display: flex;
width: 270px;
height: 368px;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.name-list { display: flex;
     color: var(--main-color);
   width: 322px;
   height: 36px;}
.prof-list {
    color: var(--secondary-color);
    width: 147px;
    height:19px;
    
 }
 .team-ptoto { width: 270px;}

/*Footer */
.footer-container {flex-direction: column;}
.footer {  height: 252px;
    padding-top: 60px;
    padding-bottom: 60px; 
    background-color: var(--dark-background-color);
}
.studio-footer { color:var(--main-background-color)}
.logo-footer{   margin-top: 215px; margin-left: 215px; color:var(--main-color) ;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    }

.adress-footer { 
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-background-color);}

.footer-container { padding-top: 60px; padding-bottom: 60px;
}    

.cont-link-footer { padding-left: 175px; margin-bottom: 9px;}


/*button*/
.button-portf:focus,
.button-portf:hover { color: #2196F3; }







